node_modules/
.env
cache.json
torrents/*.torrent
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
memory/
memory/*.json*

# logs
logs/*
!logs/.gitkeep

# local trash/staging
_TRASH/

# staging downloads
staging downloads/*
!staging downloads/.gitkeep

# docker persistent data
/docker/config/**
!/docker/config/**/.gitkeep
/docker/caddy/**

# crawler runtime state when using docker
/data/*
!/data/.gitkeep
